@import './base.scss';
img {
  user-select: none;
}

.white {
  color: white;
}

.flex-row {
  display: flex;
}

.fit {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flex-1 {
  flex: 1
}

.jd-red {
  color: #f23030;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.floor {
  font-size: 0;
  width: 100%;
}

.floor-item {
  width: 100%;
  overflow: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.full {
  width: 100%;
  height: 100%;
}
